
@import url('https://fonts.googleapis.com/css2?family=Quicksand&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
 
  header {
    font-family: 'Quicksand', sans-serif;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    background-color: #f5f5f5;
  }
  
  h1 {
    font-family: 'Quicksand', sans-serif;
    font-size: 36px;
    font-weight: bold;
  }
  
  button {
    font-size: 24px;
    font-weight: bold;
    padding: 10px 20px;
    background-color: #d84e4e;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  button:hover {
    background-color: #c13d3d;
  }
  

  .background-image {
    height: 400px;
    background-image: url('img/pizza-background.jpg');
    background-position: center;
    position: relative;
  }
  
  .overlay {
    height: 100%;
    width: 100%;
    background-color: rgba(0,0,0,0.5);
    position: absolute;
    top: 0;
    left: 0;
  }
  
  .content {
    font-family: 'Quicksand', sans-serif;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: #fff;
  }
  
  h2 {
    font-size: 48px;
    font-weight: bold;
    margin-bottom: 20px;
  }
  
  .menu {
    font-family: 'Quicksand', sans-serif;
    display: flex;
    justify-content: space-between;
    max-width: 1200px;
    margin: 0 auto;
    padding: 40px 0;
  }
  
  h3 {
    font-size: 36px;
    font-weight: bold;
    margin-bottom: 20px;
  }
  
  .left, .right {
    flex-basis: calc(50% - 20px);
  }
  
  ul {
    list-style: none;
  }
  
  li {
    margin-bottom: 40px;
  }
  
  img {
    max-width: 100%;
    height: auto;
    margin-bottom: 10px;
  }
  
  h4 {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 10px;
  }
  
  p {
    font-size: 16px;
    line-height: 1.5;
    color: #000000;
  }
  
 
  footer {
    text-align: center;
    background: rgb(198,0,0);
    background: linear-gradient(0deg, rgba(198,0,0,1) 0%, rgba(241,111,12,1) 94%, rgba(241,108,12,1) 96%, rgba(240,102,11,1) 100%);
    color: #fff;
    padding: 2px;
    bottom: 0;
    position: fixed;
    width: 100%;
    margin-right: 0;
    margin-left: 0;
    font-family: 'Quicksand', sans-serif;
  }
  
